{% extends 'base.html' %}

 {% block content %}
  <style>
    * {
      font-family: system-ui;
      text-align: center; 
      vertical-align: middle
    }

    table, th, td {
      margin: auto;
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left; 
      vertical-align: middle
    }
    th {
      color: rgb(50, 50, 50);
    }
    a, a.visited {
      color: black;
    }

  </style>


<h2>👋🏼 Hello, {{ username }}!</h2>

<h1>To-Do List</h1>
  <button><a href="{% url 'todolist:create_task' %}">Create New Task</a></button>

  </br>
  </br>

  <table>
    <tr style="font-size:120%;">
      <th>Date Added</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in todolist %}
    <tr style="font-size:110%">
        <td>{{ task.date }}</td>
        <td style="width:20%; font-weight:700;">{{ task.title }}</td>
        <td style="width:35%">{{ task.description }}</td>
        <td style="width:22%">
          {% if task.is_finished %} ✅ Done
          {% else %} 🔴 To do
          {% endif %}
          <button><a href="{% url 'todolist:change_status' task.id %}">Change Status</a></button>
        </td>
        <td style="width:10%"><button><a href="{% url 'todolist:delete_task' task.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
  </table>
  </br>
  </br>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}
