{% extends 'base.html' %}

 {% block content %}

  <h1 style="font-family:system-ui">My Watchlist</h1>

  <table style="width:100%; font-family:system-ui">
    <tr>
      <th style="font-size:140%;">Title</th>
      <th style="font-size:140%;">Release Date</th>
      <th style="font-size:140%;">Watched</th>
      <th style="font-size:140%;">Rating</th>
      <th style="font-size:140%;">Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in movie_list %}
    <tr>
        <td style='text-align:center; vertical-align:middle'>{{item.title}}</td>
        <td style='text-align:center; vertical-align:middle'>{{item.release_date}}</td>
        <td style='text-align:center; vertical-align:middle'>{{item.watched}}</td>
        <td style='text-align:center; vertical-align:middle'>{{item.rating}}</td>
        <td style='text-align:center; vertical-align:middle; width:50%'>{{item.review}}</td>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
